*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;/*tamaño de la caja: cuadro de borde*/
}
body{
	background-image:url("fondotiposartes.gif");
}
#contenedor{
	width:85%;
	height:auto;
	margin:10%;
	padding:5%;
	border:2px solid white;
	position:absolute;
	border-radius:26px;
	background-color:#fff;
	
}
h1{
	font-family:helvetica;
	font-size:40px;
	color:black;
}
h2{
	font-family:verdana;
	font-size:20px;
	color:black;
}
p{
	font-family:Century Gothic;
	line-height:1.5;		/*espacio entre lineas*/
	color:black;
}
.karate{
	width:100%;
	height:auto;
	position:flex;	
}
.submenukarate{
	width:70%;
	height:auto;
	margin-top:15px;
	margin-right:10px;
	margin-bottom:10px;
	position:flex;
	float:left;
}
img,#primera{
	width:20%;
	margin-top:15px;
}
.kungfu{
	width:100%;
	height:350px;
	position:flex;
	/*border:2px solid black;*/
}
.submenukungfu{
	width:60%;
	height:auto;
	margin-top:15px;
	margin-left:5px;
	margin-bottom:10px;
	position:flex;
	float:right;
	/*border:2px solid black;*/
}
img,#segunda{
	width:38%;
	height:320px;
	margin-top:15px;
}
.capoeira{
	width:100%;
	height:400px;
	position:flex;	
}
.submenucapoeira{
	width:65%;
	height:auto;
	margin-top:15px;
	margin-right:8px;
	margin-bottom:10px;
	position:flex;
	float:left;
}
img, #tercera{
	width:32%;
	height:250px;
	margin-top:15px;
}
.kravmaga{
	width:100%;
	height:450px;
	position:flex;
}
.submenukravmaga{
	width:60%;
	height:auto;
	margin-top:15px;
	margin-left:5px;
	margin-bottom:10px;
	position:flex;
	float:right;
}
img,#cuarta{
	width:38%;
	height:430px;
	margin-top:15px;
}
.aikido{
	width:100%;
	height:400px;
	position:flex;
}
.submenuaikido{
	width:70%;
	height:auto;
	margin-top:15px;
	margin-right:10px;
	margin-bottom:10px;
	position:flex;
	float:left;
}
img,#quinta{
	width:25%;
	height:350px;
	margin-top:15px;
}
.jeetkunedo{
	width:100%;
	height:550px;
	position:flex;
}
.submenujeetkunedo{
	width:60%;
	height:auto;
	margin-top:15px;
	margin-left:5px;
	margin-bottom:10px;
	position:flex;
	float:right;
}
img,#sexta{
	width:38%;
	height:320px;
	margin-top:15px;
}
.wingchun{
	width:100%;
	height:680px;
	position:flex;
}
.submenuwingchun{
	width:65%;
	height:auto;
	margin-top:15px;
	margin-right:8px;
	margin-bottom:10px;
	position:flex;
	float:left;
}
img, #septima{
	width:32%;
	height:500px;
	margin-top:15px;
}

.botton{
	width:15%;
	height:8%;
	display:flex;
	background-color:#000;
	border-radius:8px;
	z-index:1;
	padding:2px;
}
a{
	text-decoration:none;
	text-align:center;
	color:white;
	font-family:century gothic;
	font-size:15px;
}